<body>

    <div class="container"><img class="background" src="../assets/img/background.png" />

        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    </div>
    <div class="circle-container-menu">
        <app-navbar></app-navbar>
    </div>

</body>